<template>
  <div class="wrapper">
    <RangeSelect :title="'Стоимость'" v-model="price" :min="100" :max="200" :range="true" />
    <RangeSelect :title="'Test'" v-model="test" :min="500" :max="2000" :step="50" />
    <RangeSelect :title="'Million'" v-model="mil" :min="500000" :max="2000000" :step="100000" :range="true" />
  </div>
</template>

<script>
import RangeSelect from '@/components/elements/RangeSelect.vue'

export default {
  name: 'Home',
  data () {
    return {
      price: {
        from: 120,
        to: 180
      },
      test: {
        from: 600,
        to: 1000
      },
      mil: {
        from: 500000,
        to: 1000000
      }
    }
  },
  components: {
    RangeSelect
  }
}
</script>

<style lang="scss">
.wrapper {
  width: 500px;
  margin: auto;
  color: #000;
}
</style>
