<template>
  <div class="range-select">
    <label class="range-select__label">{{ title }}</label>

    <div class="range-select--row">
      <div class="range-select__input">
        <label for="from">от</label>
        <input id="from" type="text" v-model="value.from">
      </div>
      <div class="range-select__input">
        <label for="to">до</label>
        <input id="to" type="text" v-model="value.to">
      </div>
    </div>

    <div class="range-select__input--range slider" v-if="range">
      <div>
        <div class="inverse-left" :style="{ width: (value.from - min) * 100 / (max - min) + '%' }"></div>
        <div class="inverse-right" :style="{ width: (100 - (value.to - min) * 100 / (max - min)) + '%' }"></div>
        <div class="range" :style="{ left: (value.from - min) * 100 / (max - min) + '%', right: (100 - (value.to - min) * 100 / (max - min)) + '%' }"></div>
        <span class="thumb" :style="{ left: (value.from - min) * 100 / (max - min) + '%' }"></span>
        <span class="thumb" :style="{ left: (value.to - min) * 100 / (max - min) + '%' }"></span>
      </div>

      <input v-model="value.from" :min="min" :max="max" :step="step" type="range" >
      <input v-model="value.to" :min="min" :max="max" :step="step" type="range">
    </div>

    <div class="range-select-interval">
      <div class="range-select-interval__item">
        от {{ numberFormatter(min) }}
      </div>
      <div class="range-select-interval__item">
        до {{ numberFormatter(max) }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RangeSelect',
  props: {
    title: String,
    value: {
      from: Number,
      to: Number
    },
    step: {
      type: Number,
      required: false,
      default: 1
    },
    min: {
      type: Number,
      required: true,
      default: 1
    },
    max: {
      type: Number,
      required: true,
      default: 1
    },
    range: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  watch: {
    'value.from': function (val) {
      this.rangeFrom(val)
    },
    'value.to': function (val) { 
      this.rangeTo(val)
    }
  },
  methods: {
    numberFormatter (num) {
      var res = 0
      if (Math.abs(num) > 999999) {
        res = Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(2)) + ' млн'
      } else if (Math.abs(num) > 999) {
        res = Math.sign(num) * ((Math.abs(num) / 1000).toFixed(2)) + ' тыс'
      } else {
        res = Math.sign(num) * Math.abs(num)
      }

      return res
    },
    rangeFrom (newVal) {
      var val = parseInt(newVal)

      if (isNaN(val)) {
        val = this.min
      }

      if (val < this.min) {
        val = this.min
      } else if (val >= this.value.to) {
        val = this.value.to
      }

      this.value.from = val
    },
    rangeTo (newVal) {
      var val = parseInt(newVal)

      if (isNaN(val)) {
        val = this.max
      }

      if (val < this.value.from) {
        val = this.value.from
      } else if (val > this.max) {
        val = this.max
      }

      this.value.to = val
    }
  }
}
</script>

<style lang="scss">
.slider {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 15px 0;

  > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: 12px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;

    &::-ms-track {
      -webkit-appearance: none;
      background: transparent;
      color: transparent;
    }
    &::-moz-range-track {
      -moz-appearance: none;
      background: transparent;
      color: transparent;
    }
    &:focus {
      outline: none;
      &::-webkit-slider-runnable-track {
        background: transparent;
        border: transparent;
      }
    }
    &::-ms-thumb {
      pointer-events: all;
      width: 28px;
      height: 28px;
      border-radius: 0px;
      border: 0 none;
      background: red;
    }
    &::-moz-range-thumb {
      pointer-events: all;
      width: 28px;
      height: 28px;
      border-radius: 0px;
      border: 0 none;
      background: red;
    }
    &::-webkit-slider-thumb {
      pointer-events: all;
      width: 28px;
      height: 28px;
      border-radius: 0px;
      border: 0 none;
      background: red;
      -webkit-appearance: none;
    }
    &::-ms-fill-lower {
      background: transparent;
      border: 0 none;
    }
    &::-ms-fill-upper {
      background: transparent;
      border: 0 none;
    }
    &::-ms-tooltip {
      display: none;
    }
  }

  > div {
    position: absolute;
    left: 12px;
    right: 14px;
    height: 10px;

    > .inverse-left {
      position: absolute;
      left: 0;
      height: 14px;
      border-radius: 10px;
      background-color: #CCC;
      margin: 0 7px;
    }
    > .inverse-right {
      position: absolute;
      right: 0;
      height: 14px;
      border-radius: 10px;
      background-color: #CCC;
      margin: 0 7px;
    }
    > .range {
      position: absolute;
      left: 0;
      height: 14px;
      border-radius: 14px;
      background-color: #1ABC9C;
    }
    > .thumb {
      position: absolute;
      top: -7px;
      z-index: 2;
      height: 28px;
      width: 28px;
      text-align: left;
      margin-left: -11px;
      cursor: pointer;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
      background-color: #FFF;
      border-radius: 50%;
      outline: none;
    }
  }
}

.range-select {
  &--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #333;
  }
  &__input {
    input {
      padding: 10px;
      height: 25px;
      border: 1px solid #CCC;
    }
    &--range {
      padding: 15px 0px;

      input[type="range"] {        
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          -webkit-appearance: none;
          border: none;
          height: 28px;
          width: 28px;
          border-radius: 50%;
          background: #DA2A3B center center no-repeat;
          margin-top: -1px;
          cursor: pointer;
        }

        &::-moz-range-progress {
        }


        &::-moz-range-track,
        &::-webkit-slider-thumb {
          background: transparent;
        }
      }
    }
  }
  &-interval {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;

    &__item {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.01em;
      color: #333;

      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
    }
  }
}
</style>
